# Learn more: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# =============================
#  Dependencies / Package Managers
# =============================
node_modules/
bun.lockb
package-lock.json
yarn.lock
pnpm-lock.yaml

# =============================
#  Expo
# =============================
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# =============================
#  Native Builds (Android / iOS)
# =============================
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore
*.xcarchive
android/
ios/

# =============================
#  Metro / Cache
# =============================
.metro-health-check*
.cache/
tmp/

# =============================
#  Logs / Debug
# =============================
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# =============================
#  OS & Editor Junk
# =============================
.DS_Store
Thumbs.db
*.pem
.idea/
.vscode/

# =============================
#  Local Environment
# =============================
.env
.env*.local
.env.development
.env.production

# =============================
#  TypeScript / Build
# =============================
*.tsbuildinfo
.vercel
build/
dist/

# =============================
#  Local Databases
# =============================
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite-shm
*.sqlite-wal